.bloque-img {
    height: 500px;
    object-fit: cover;
    width:100%;
}

.espacio-top {
    margin-top: 150px;
}

.texto-descriptivo {
    font-size: 20px;
    font-family: $secondary-font;
    letter-spacing: 4px;
    margin:10px;
}




