.slider{
    height: 100%;
    max-width: 100%;
}

.sub-title {
    font-size: 20px;
    letter-spacing: 10px;
    padding-bottom: 30px;
}

.img-fluid {
    height: 600px;
    width: 100%;
    object-fit: cover;
    text-align:center;
}

.bg-lightblue {
    background-color: $my-lightblue;
}