.box-main {
    font-family: $secondary-font;
    font-size: 40px;
    text-transform: uppercase; 
    padding-top:20px;
}

.bg-lightblue {
    background-color: $my-lightblue;
}

.bg-darkblue {
    background-color: $my-darkblue;
}

.borderstyle {
    border: $black solid 3px;
    padding:0;
    margin:0;
}

.card-title__portada {
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase;
    font-family: $secondary-font;
    width: 100%;
}

.espacio {
    height:100%;
    width:100%;
}

h3, h4 {
    font-family: $secondary-font;
}

.portada-size {
  width:100%;
}

.title {
    font-size: 15px;
}

/*
   Hover - imagenes proyectos
*/

.hover-1 img {
    width: 105%;
    top: 0;
    transition: all 0.3s;
  }
  
  .hover-1-content {
    position: absolute;
    background:$my-lightbluet;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
    height: 150px;
    width:100%;
  }
  
  .hover-1 .hover-overlay {
    background: $my-lightbluet;
  }
  
  
  .hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
  }
  
  .hover-1:hover .hover-1-content {
    bottom: 6rem;
  }
  
  .hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
  }
  
  .hover-1:hover img {
    left: 0;
  }
  
  .hover-1:hover .hover-overlay {
    opacity: 0;
  }

  /*
   Hover - link (reboot boostrap me sobreescribe - no se por que -)
*/

.link-proyectos > a {
      color:white!important;
      text-decoration:none!important;
    }
