.asesoria {
    font-size: 25px;
    font-family: $secondary-font;
    letter-spacing: 8px;
    margin:10px;
}

.box-proyecto {
    height: 500px;
}

.img-services {
    height:600px;
    width: auto;
}


