@font-face {
    font-family: 'Barlow-reg';
    src: url(../fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: 'Barlow-black';
    src: url(../fonts/Barlow-Bold.ttf);
}

@font-face {
    font-family: 'Bevietnam';
    src: url(../fonts/BeVietnam-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/* Fuentes */
$main-font: 'Bevietnam', Verdana, Arial;
$secondary-font: 'Barlow-reg', Helvetica, Arial;


/*Tamaño fuente*/
$font-size-titles: 30px;
$font-size-base: 20px;

/* Colores*/
$black: #222222;
$grey-light: #f8f9fa;
$grey-medium: #adb5bd;
$grey-hard: #212529;

/* Colores mios*/
$my-brown:  rgb(222,215,207);
$my-darkblue: rgb(26,26,26);
$my-lightblue: rgb(216,227,232);
$my-lightbluet: rgba(216, 227, 232, 0.753);

/* Colores fondo */

html, body {
    font-family: 'bevietnam';    
    height: 100%;
    position: relative;
    width: 100%;
}

h1 {
    font-family: $main-font; 
    font-size: 25px;
    letter-spacing: 4px;
}

section {
    margin-top:100px;
    width:100%;
}

h3 {
    font-family: $secondary-font;
}

a, p {
    font-family: $secondary-font;
}

p {
    font-size: 15px;
    text-align: center;
}
